@import "../../assets/variables.scss";

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  margin-left: 4px;
}

label {
  font-weight: bold;
}

.add-product-container {
  background-color: $color-quinary;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    width: 250px;
    flex-direction: column;
  }
}

.form-field-wrapper {
  text-align: right;
  margin: 10px 10px;
  @media (max-width: 992px) {
    margin: 0;
    text-align: left;
  }
}

.form-field {
  margin: 5px 0;
  @media (max-width: 992px) {
    width: 200px;
    margin: 2px 0;
  }
}

.add-product-button {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  margin: 10px;
  color: $color-text-primary;
  font-size: 14px;
  font-weight: bold;
  background-color: $color-secondary;
  border-radius: 10px;
  border: 3px solid $color-tertiary;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.add-product-button:hover {
  background-color: $color-quaternary;
}

.error-message {
  color: $color-primary;
  font-size: 12px;
  font-weight: bold;
}
