@import "../../assets/variables.scss";

.navbar-container {
  height: 70px;
  width: 100vw;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-header {
  margin: 0;
  color: $color-text-primary;
}
