$color-primary: darkred;
$color-secondary: rgb(185, 0, 0);
$color-tertiary: rgb(130, 0, 0);
$color-quaternary: rgb(210, 1, 1);
$color-quinary: rgba(139, 0, 0, 0.394);
$color-senary: rgba(139, 0, 0, 0.952);

$color-text-primary: white;
$color-text-secondary: red;
